
.ipynb_checkpoints/FamilyTree_Charts_ID1-checkpoint.ipynb
.ipynb_checkpoints/Family Tree_v2-checkpoint.ipynb
.ipynb_checkpoints/FamilyTree_Charts_ID0-checkpoint.ipynb
__pycache__/config.cpython-37.pyc
__pycache__/configtest.cpython-37.pyc
__pycache__/exampleconfig.cpython-37.pyc
ancestor.xlsx
config.py
europemap2_annotated.png
europemap_annotated.png
familytree.png
familytree.xlsx
FamilyTree_Charts_ID0.ipynb
familytree_withgraphics.png
fathergeneticpie.png
marktesttree.pdf
marktesttree.png
mothergeneticpie.png
person1geneticpie.png
persongeneticpie.png
/Photos/Gray/*
/Private/*
NE1_HR_LC_SR_W_DR.tif
racheltesttree.pdf
racheltesttree.png
summertest_withgraphics.png
summertesttree.pdf
summertesttree.png
Project Write Up.docx
examplefamilytree_withgraphics.png
