
/.ipynb_checkpoints/*
__pycache__/config.cpython-37.pyc
__pycache__/configtest.cpython-37.pyc
__pycache__/exampleconfig.cpython-37.pyc
ancestor.xlsx
config.py
europemap2_annotated.png
europemap_annotated.png
familytree.png
familytree.xlsx
FamilyTree_Charts_ID0.ipynb
familytree_withgraphics.png
fathergeneticpie.png
mothergeneticpie.png
person1geneticpie.png
persongeneticpie.png
/Photos/Gray/*
/Private/*
NE1_HR_LC_SR_W_DR.tif
Project Write Up.docx
examplefamilytree_withgraphics.png
usa.png
~$harrypotterfamilytree.xlsx
~$khan.xlsx
Family Tree.ipynb
